@model AzureB2BInvite.Models.PreAuthDomain

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pre-Auth Domain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DomainName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DomainName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvitationTemplate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvitationTemplate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedirectLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedirectLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupsList)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupsList)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.AuthUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Edit", "Edit", new { area = "admin", id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", new { area = "admin" }, new { @class = "btn btn-default" })
    </div>
</div>
