@using B2BPortal.Infrastructure
@model AzureB2BInvite.Models.PreAuthDomain

@{
    ViewBag.Title = "Pre-Auth Domains";
    var _templates = new List<SelectListItem>();

    if (ViewBag.Templates != null)
    {
        _templates = (List<SelectListItem>)ViewBag.Templates;

        var templates = _templates.Select(t => new SelectListItem
        {
            Selected = (t.Value == Model.InvitationTemplate),
            Text = t.Text,
            Value = t.Value
        });
    }
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "PreApproval", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.Operation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DomainName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DomainName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DomainName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                Enter a domain name, like "microsoft.com". Any potential guests that register with a login matching that domain name
                will be automatically pre-registered. Any other registrations will be pended in the approval queue. If you selected
                "Require Preauth" in your Site Config, then ONLY users with matching logins will be accepted.
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvitationTemplate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.InvitationTemplate, _templates, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.InvitationTemplate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                (optional) - Select an invitation template.
                @if (Settings.UseSMTP)
                {
                    <div>
                        This template will be used to create the invitation message that is emailed.
                        Use the "Manage Mail Templates" admin tool to create and manage templates.
                    </div>
                }
                else
                {
                    <div>
                        This text will be added to the default B2B invitation email sent by Azure Active
                        Directory to your approved invitees. Use the "Manage Mail Templates" admin tool
                        to create and manage templates.
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RedirectLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.RedirectLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RedirectLink, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                This is the link that pre-authenticated users from this domain will be redirected to after
                successfully reedeeming their B2B invitation. If this is left empty, they will be redirected
                to the profile editor here, and after that, they'll be taken to
                <a href="https://myapps.microsoft.com" target="_blank">https://myapps.microsoft.com</a>.
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupsList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.GroupsList, new { htmlAttributes = new { @class = "form-control tokenfield" } })
                @Html.ValidationMessageFor(model => model.GroupsList, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                (coming soon) - For all group names entered here, users that are automatically pre-authenticated from this domain
                will also automatically be added to these groups in your Azure Active Directory tenant.
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (Model != null)
                {
                    @Html.ActionLink("Delete", "Delete", new { area = "admin" }, new { @class = "btn btn-warning", id = Model.Id })
                }
                @Html.ActionLink("Back to List", "Index", new { area = "admin" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('.tokenfield').tokenfield();

        });
    </script>
}
