@model IEnumerable<B2BPortal.Data.InviteTemplate>

@{
    ViewBag.Title = "Invitation Templates";
}

<div class="panel panel-primary" style="margin-top:20px;">
    <div class="panel-title panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group control">
                <div class="col-md-12">
                    <button id="btnNew" type="button" class="btn btn-default control"><span class="glyphicon glyphicon-plus"></span> New...</button>
                </div>
            </div>
            <table class="table">
                <tr class="head">
                    <th>
                        @Html.DisplayNameFor(model => model.TemplateName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TemplateAuthor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubjectTemplate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TemplateContent)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.Id" title="Click to edit" class="bg-rowEdit" style="cursor:pointer">
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateAuthor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectTemplate, "NullNA")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateContent, "TruncateLong")
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#btnNew").on("click", function () {
                location.href = "/Admin/InviteTemplate/Edit";
            });
            $("table tr:gt(0)")
                .on("click", function () {
                    location.href = "/Admin/InviteTemplate/Edit/" + $(this).data("id");
                });
        });
    </script>    
}
@section styles {
    <style type="text/css">
        table.table tr.head th {
            border-top: 0;
            vertical-align: bottom;
        }
    </style>
}
